
body {
  background-image: url("https://images.unsplash.com/photo-1539831993994-36c615c090b9?ixlib=rb-0.3.5&s=9d836e80418fd29ae1c2028e9b793224&auto=format&fit=crop&w=751&q=80");
  background-color: lightcyan;
  background-position: center;
  background-size: cover;
}

input[type="text"]
{  
    font-family: georgia;
    font-size:24px;
    color: #FFDA00;
}

form {
  color: #626262;
  font-family: georgia;
  font-size: 36px;
}

p {
  color: #626262;
  font-family: georgia;
  font-size: 36px;
}

div {
  font-family: georgia;
  font-size:24px;
  color: black;
}

input[id="submit"]
{
    color:black;
    font-family: georgia;
    font-size:40px;
}

button[id="InspirationalSubmit"] {
    color: #DCFBDE;
    background-color: #A1D2B2; 
}
button[id="RelationshipsSubmit"] {
    color: #FBDCE2;
    background-color:#FBA9B8; 
}
button[id="AcademicsSubmit"] {
    color: #D6E2E6;
    background-color: #93BFCE; 
}
button[id="FunnySubmit"] {
    color: #FFF7C3;
    background-color: #FFDCA7;
}

button[id="InspirationalShow"] {
   color: #DCFBDE;
    background-color: #A1D2B2;  
}
button[id="RelationshipsShow"] {
   color: #FBDCE2;
    background-color:#FBA9B8;  
}
button[id="AcademicsShow"] {
  color: #D6E2E6;
    background-color: #93BFCE; 
}
button[id="FunnyShow"] {
    color: #FFF7C3;
    background-color: #FFDCA7 
}


.inspirational{
    color:green;
}

